/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  height: 5auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}
