/* Try different box model properties below */
.site-header p:last-child {
  color: white !important;
}

.site-header {
  margin-bottom: -15px;
}

.site-footer p:first-child {
  font-size: 12px;
  text-align: center;
}

.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
